<html lang="uk" class="<%=status%>">
<head>
    <title>Перемілля чи є світло</title>
    <link rel="icon" href="/favicon.png">
    <link rel="stylesheet" href="/css/reset.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body class="<%= status %>">
    <div class="center">
        <h1><%= statusText %> <br /><span class="since" style="font-size: 70px">З <%= lastChange %></span></h1>
    </div>
</body>
</html>